[Unit]
Description=Standalone headless gamescope (HDR, Deck EDID, 1280x800@90)
After=systemd-user-sessions.service systemd-logind.service
[Service]
User=kai
PAMName=login
TTYPath=/dev/tty8
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/local/bin/gamescope-headless.sh
Restart=no

[Install]
WantedBy=multi-user.target
